        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    background: linear-gradient(to right, #f5444a, #fad0c4);
    font-family: Arial, sans-serif;
}

h1{
    color: blue;
    text-align: center;
    margin-top: 20%;
}

#box{
    height: 200px;
    width: 200px;
    background-color: rgb(16, 219, 30);
    margin: auto;
    margin-top: 20px;
}

#box h1{
    color: white;
    margin-top: 50px;
    font-size: 20px;
}

