        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

h1{
    color: blue;
    text-align: center;
    margin-top: 20%;
}

#box{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: auto;
    margin-top: 20px;
}

#box h1{
    color: white;
    margin-top: 50px;
    font-size: 20px;
}