        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    font-family: Arial, sans-serif;
}

h1{
    color: blue;
    text-align: center;
    margin-top: 20%;
}

#box{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: auto;
    margin-top: 20px;
}

#box h1{
    color: white;
    margin-top: 50px;
    font-size: 20px;
}

